#nearest-points {
  font-size: small;
}

#nearest-points h4 {
  font-size: small;
}

#sidebar {
  font-size: small;
  width: 160px;
}

#location-nav button {
  padding: 4px 8px;
  font-size: 11px;
}

#red-sites-refresh {
  top: 36px;
  right: 8px;
  padding: 5px 8px;
  font-size: 11px;
}

.red-site-label {
  font-size: 11px;
}
